.button {
  background: transparent;
  border: 0.1rem solid #171212;
  padding: 0.5rem;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.button__small {
  padding: 0.5rem;
}

.button__large {
  padding: 1rem;
}
