.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o- */
/*   new things! */
/* o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o- */
html {
  font-size: 62.5%; /* 10 / 16 = 62.5% */
}

body {
  font-size: 1.6rem;
}

.button {
  background: transparent;
  border: 0.1rem solid #171212;
  padding: 0.5rem;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.button__small {
  padding: 0.5rem;
}

.button__large {
  padding: 1rem;
}

.container {
  /* height: 100vw; */
  padding: 2rem;

  background: #83a4d4; /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff, #83a4d4);

  color: #171212;
}

.headline-primary {
  font-size: 4.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.input {
  border: none;
  border-bottom: 0.1rem solid #171212;
  background-color: transparent;
  font-size: 2.4rem;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.item > span {
  padding: 0rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

.label {
  border-top: 0.1rem solid #171212;
  border-left: 0.1rem solid #171212;
  padding-left: 0.5rem;
  font-size: 2.4rem;
}
